body {
  font-family: sans-serif;
  background-color: #17171f;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #c0cbf7;
}

header {
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  background-color: rgb(249, 249, 249);
  border-radius: 7px;
  width: 25%;
  height: 13vh;
  margin: 25px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.task-container {
  display: flex;
}
.checkbox-container {
  width: 30%;
  height: 100%;
}
.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox-container .complete-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 35px;
  left: 10px;
  height: 40px;
  width: 40px;
  background-color: aqua;
  border-radius: 50%;
}

.checkbox-label input:checked ~ .checkmark {
  background-color: brown;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 13px;
  top: 5px;
  width: 9px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
