body {
  font-family: sans-serif;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #f6f8ff;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header-title {
  display: flex;

  margin: 30px;
}
.title {
  margin-left: auto;
  margin-right: auto;
}
#login-buttons {
  float: right;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.new-task {
  display: flex;

  width: 80%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.new-task input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0;
  background: transparent;
  border: 1px solid blue;
  border-radius: 4px;
  width: 100%;

  font-size: 1em;
}

.new-task input:focus {
  outline: 0;
}

.task-category {
  height: 40px;
  background: transparent;
  border: 1px solid blue;
  width: 100%;
  border-radius: 4px;
}

.task-submit {
  height: 40px;
  background: blue;
  border: 1px solid blue;
  width: 100%;
  color: white;
  font-size: 18px;

  border-radius: 4px;

  cursor: pointer;
}

.users-container {
  display: flex;
  margin: 10px auto 10px auto;
  width: 80%;
}

.user-title {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 30px;
}
.username {
  border: 1px solid blue;
  padding: 7px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.task-container {
  display: flex;
}
.task-body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-container {
  width: 20%;
  height: 100%;
}
.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox-container .complete-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.checkbox-label input:checked ~ .checkmark {
  background-color: rgb(108, 255, 79);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 13px;
  top: 5px;
  width: 9px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.task-body-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.task-contents {
  display: flex;
  flex-direction: column;
}
.task-title {
  font-size: 20px;
  font-weight: bold;
}
.task-delete {
  width: 10%;
}

.checkbox-container.Frontend {
  border-left: 3px solid rgb(114, 250, 134);
}
.checkbox-container.Backend {
  border-left: 3px solid rgb(255, 196, 3);
}
.checkbox-container.Design {
  border-left: 3px solid rgb(90, 114, 255);
}
.checkmark.Frontend {
  border: 4px solid rgba(114, 250, 134, 0.2);
}
.checkmark.Backend {
  border: 4px solid rgba(255, 196, 3, 0.2);
}
.checkmark.Design {
  border: 4px solid rgba(90, 114, 255, 0.2);
}

.task-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.category {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
}
/* Task Style */

/* Toggle private Switch button */
ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 2px solid rgb(255, 255, 255);
  width: 75%;
  height: 13vh;
  max-height: 150px;
  margin: 10px auto 10px auto;
}

li .text {
  margin-left: 10px;
}

li.checked {
  background-color: rgba(51, 255, 177, 0.3);
}

li.checked .text {
  text-decoration: line-through;
}

.hide-completed {
  margin: 30px;
}

/* Toggle private Switch button */

.task-privacy {
  display: flex;
  justify-content: space-between;
}

.switch-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}
.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle-private:checked + .slider {
  background-color: orangered;
}
.toggle-private:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.toggle-private:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.private {
  border: 2px solid orangered;
}
/* ---------Toggle private Switch button--------- */

/* ---------Task Style --------- */
