body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  background-color: #f6f8ff;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30vh;
}

.header-title {
  display: flex;

  margin: 30px;
}
.title {
  margin-left: auto;
  margin-right: auto;
}
#login-buttons {
  float: right;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.new-task {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100px;
  margin-right: 30px;
  margin-left: 30px;
}

.new-task input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 0;
  background: transparent;
  border: 1px solid blue;
  border-radius: 4px;
  width: 65%;

  font-size: 1em;
}

.new-task input:focus {
  outline: 0;
}

.task-category {
  height: 40px;
  background: transparent;
  border: 1px solid blue;
  width: 34%;
  border-radius: 4px;
  margin-left: 5px;
}

.task-submit {
  height: 40px;
  background: blue;
  border: 1px solid blue;
  width: 100%;
  margin-right: 30px;
  border-radius: 4px;
  margin-top: 10px;
}
ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  width: 25%;
  min-width: 370px;
  height: 13vh;
  margin: 25px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  background-color: rgba(51, 255, 177, 0.3);
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.task-container {
  display: flex;
}
.task-body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox-container {
  width: 20%;
  height: 100%;
}
.checkbox-label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.checkbox-container .complete-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.checkbox-label input:checked ~ .checkmark {
  background-color: rgb(108, 255, 79);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-label .checkmark:after {
  left: 13px;
  top: 5px;
  width: 9px;
  height: 20px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

.task-body-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.task-contents {
  display: flex;
  flex-direction: column;
}
.task-delete {
  width: 10%;
}

.checkbox-container.Frontend {
  border-left: 3px solid rgb(114, 250, 134);
}
.checkbox-container.Backend {
  border-left: 3px solid rgb(255, 196, 3);
}
.checkbox-container.Design {
  border-left: 3px solid rgb(90, 114, 255);
}
.checkmark.Frontend {
  background-color: rgba(114, 250, 134, 0.2);
}
.checkmark.Backend {
  background-color: rgba(255, 196, 3, 0.2);
}
.checkmark.Design {
  background-color: rgba(90, 114, 255, 0.2);
}
